html,body {
    margin: 0px 0px 50px 0px;
    background: linear-gradient(to top, #020231, #040404);
    color: #776e65;
    font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
    font-size: 18px;
}
section{
    margin-top: 50px;
    margin-left: 120px;
    margin-right: 120px;
    font-size: 16px;
    font-family: sans-serif;
    display: block;
    border-top: 1px solid #8bc3c3;
    color: #d8d4d0;
}
h1{
    color: #d8d4d0;
}
.guide_arrow {
    display: inline-block;
    margin: 15px;
    font-size: 3rem;
    color: rgb(24, 84, 114);
  }